@charset "utf-8";
.container-fluid {
    background-image: -webkit-linear-gradient(270deg,rgba(69,65,78,1.00) 6.73%,rgba(255,255,255,1.00) 10.36%,rgba(255,255,255,1.00) 83.42%,rgba(255,255,255,1.00) 94.82%,rgba(69,65,78,1.00) 98.45%);
    background-image: -moz-linear-gradient(270deg,rgba(69,65,78,1.00) 6.73%,rgba(255,255,255,1.00) 10.36%,rgba(255,255,255,1.00) 83.42%,rgba(255,255,255,1.00) 94.82%,rgba(69,65,78,1.00) 98.45%);
    background-image: -o-linear-gradient(270deg,rgba(69,65,78,1.00) 6.73%,rgba(255,255,255,1.00) 10.36%,rgba(255,255,255,1.00) 83.42%,rgba(255,255,255,1.00) 94.82%,rgba(69,65,78,1.00) 98.45%);
    background-image: linear-gradient(180deg,rgba(69,65,78,1.00) 6.73%,rgba(255,255,255,1.00) 10.36%,rgba(255,255,255,1.00) 83.42%,rgba(255,255,255,1.00) 94.82%,rgba(69,65,78,1.00) 98.45%);
}

.card.col-md-4.col-lg-12 .card-body .btn.btn-primary {
    color: #FFDE33;
    font-family: merriweather;
    font-style: normal;
    font-weight: 300;
    background-color: rgba(61,58,70,1.00);

}
#headingOne1 .mb-0 a {
    color: #FFDE33;
}
#headingTwo1 .mb-0 .collapsed {
    color: #FFDE33;
}
#headingThree1 .mb-0 .collapsed {
    color: #FFDE33;
}



#accordion1 .card #headingOne1 {
    background-color: rgba(61,58,70,1.00);
}
#accordion1 .card #headingTwo1 {
    background-color: rgba(61,58,70,1.00);
}
#accordion1 .card #headingThree1 {
    background-color: rgba(61,58,70,1.00);
}




.container-fluid .container .navbar.navbar-expand-lg.fixed-top.navbar-light.bg-light {
}
.container-fluid .container .navbar.navbar-expand-lg.fixed-top.navbar-light.bg-light {
}
.container-fluid .container .navbar.navbar-expand-lg.fixed-top.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 7.26%,rgba(61,58,70,1.00) 33.17%,rgba(61,58,70,1.00) 55.43%,rgba(178,175,189,1.00) 76.17%,rgba(61,58,70,1.00) 91.19%,rgba(96,92,111,1.00) 100%,rgba(43,37,37,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 7.26%,rgba(61,58,70,1.00) 33.17%,rgba(61,58,70,1.00) 55.43%,rgba(178,175,189,1.00) 76.17%,rgba(61,58,70,1.00) 91.19%,rgba(96,92,111,1.00) 100%,rgba(43,37,37,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 7.26%,rgba(61,58,70,1.00) 33.17%,rgba(61,58,70,1.00) 55.43%,rgba(178,175,189,1.00) 76.17%,rgba(61,58,70,1.00) 91.19%,rgba(96,92,111,1.00) 100%,rgba(43,37,37,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 7.26%,rgba(61,58,70,1.00) 33.17%,rgba(61,58,70,1.00) 55.43%,rgba(178,175,189,1.00) 76.17%,rgba(61,58,70,1.00) 91.19%,rgba(96,92,111,1.00) 100%,rgba(43,37,37,1.00) 100%);
}
.navbar-nav.mr-auto .nav-item .nav-link {
    color: #FFDE33;
    font-style: normal;
    font-weight: 600;
    font-size: 15pt;
}
.row .col-lg-5 .btn.btn-primary {
    color: #FFDE33;
    font-family: merriweather;
    font-style: normal;
    font-weight: 300;
    background-color: rgba(61,58,70,1.00);
}
.card.col-md-4.col-lg-12 .card-body .card-title {
    font-family: merriweather;
    font-style: normal;
    font-weight: 300;
    line-height: 6mm;
}
.card.col-md-4.col-lg-12 .card-body .card-text {
    font-family: merriweather;
    font-style: normal;
    font-weight: 300;
    font-size: large;
    line-height: 132%;
}

.row .col-lg-5 .carousel-title {
    font-family: merriweather;
    font-style: normal;
    font-weight: 400;
}
.row .col-lg-5 .carousel-text-left {
    font-family: merriweather;
    font-style: normal;
    font-weight: 300;
    font-size: large;
    white-space: normal;
    vertical-align: baseline;
    line-height: 130%;
}






.container {
  width:100%;
  margin:0 auto;
  position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background:#F9F9F9;
  padding:25px;
  margin:50px 0;
}

#contact h3 {
  color: #F96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin:5px 0 15px;
  display:block;
  font-size:13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:20%;
  border:none;
  background:#0CF;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover {
  background:#09C;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}



.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container .banner{
    background:linear-gradient(-55deg, #ff7675 29%, #d63031 29.1%, #d63031 68%, #ff7675 68.1%);
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
}

.banner-container .banner .shoe{
    flex:1 1 250px;
    padding:15px;
    text-align: center;
}

.banner-container .banner .shoe img{
    width:80%;
}

.banner-container .banner .content{
    flex:1 1 250px;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
}

.banner-container .banner .content span{
    color:#eee;
    font-size: 25px;
}

.banner-container .banner .content h3{
    color:#fff;
    font-size: 40px;
}

.banner-container .banner .content p{
    color:#eee;
    font-size: 20px;
    padding:10px 0;
}

.banner-container .banner .content .btn{
    display: block;
    height:40px;
    width:150px;
    line-height: 40px;
    background: #fff;
    color:#d63031;
    margin:5px auto;
    text-decoration: none;
}

.banner-container .banner .women{
    position: relative;
    bottom: -33px;
    padding:10px;
    flex:1 1 250px;
}

.banner-container .banner .women img{
    width:100%;
}

@media (max-width:350px){
    .banner-container .banner .women{
        display: none;
    }
}
